@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
  url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
  url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
  url('../fonts/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
  url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
  url('../fonts/Rubik-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: url('../fonts/Krub-Medium.woff2') format('woff2'),
  url('../fonts/Krub-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: url('../fonts/Krub-SemiBold.woff2') format('woff2'),
  url('../fonts/Krub-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: url('../fonts/Krub-Bold.woff2') format('woff2'),
  url('../fonts/Krub-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: url('../fonts/Krub-Regular.woff2') format('woff2'),
  url('../fonts/Krub-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

