@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-Medium.woff2") format("woff2"), url("../fonts/Krub-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-SemiBold.woff2") format("woff2"), url("../fonts/Krub-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-Bold.woff2") format("woff2"), url("../fonts/Krub-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-Regular.woff2") format("woff2"), url("../fonts/Krub-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.pricing-section .container .pricing-list-item-price .price-value, .hero-section .hero-description .container h1 {
  font-size: clamp(30px, 4.5833333333vw, 55px);
  line-height: 133%;
  font-weight: 700;
}

.contact-section .container .section-tittle, .section-tittle {
  font-size: clamp(26px, 2.9166666667vw, 35px);
  line-height: 133%;
  font-weight: 600;
}

.pricing-section .container .pricing-list-item-tittle {
  font-size: clamp(28px, 2.5vw, 30px);
  line-height: 133%;
  font-weight: 500;
}

.footer .footer-main-info .container .footer-info .footer-subscribe-tittle, .card-tittle {
  font-size: clamp(22px, 2.0833333333vw, 25px);
  line-height: 133%;
  font-weight: 400;
}

.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-tittle .testimonial-card-name, .pricing-section .container .pricing-list-item-price .price-text, .work-section .container .work-section-list-item .work-section-card figcaption .work-section-card-tittle {
  font-size: clamp(18px, 1.6666666667vw, 20px);
  line-height: 120%;
  font-weight: 400;
}

.contacts-form .contacts-name::-moz-placeholder, .contacts-form .contacts-email::-moz-placeholder, .contacts-form .contacts-tel::-moz-placeholder, .contacts-form .contacts-city::-moz-placeholder, .contacts-form .contacts-message::-moz-placeholder {
  font-size: clamp(14px, 1.3333333333vw, 16px);
  line-height: 133%;
}

.footer .footer-main-info .container .footer-info .footer-nav .footer-nav-list-item a, .testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-tittle .testimonial-card-company, .testimonial-section .container .testimonials-slider .slider-container li:nth-child(even) .testimonial-card .testimonial-card-tittle .testimonial-card-company, .pricing-section .container .pricing-list-item .pricing-features-list, .work-section .container .work-section-list-item .work-section-card figcaption .work-section-card-text, .hero-section .hero-description .container p, .hero-section .nav-and-socials .container .header-nav-list-item .header-nav-list-link, .contact-pop-up, .subtittle, body, .contacts-form .contacts-name::placeholder, .contacts-form .contacts-email::placeholder, .contacts-form .contacts-tel::placeholder, .contacts-form .contacts-city::placeholder, .contacts-form .contacts-message::placeholder, .contacts-form .contacts-name, .contacts-form .contacts-email, .contacts-form .contacts-tel, .contacts-form .contacts-city, .contacts-form .contacts-message, .btn-dark, .btn-light {
  font-size: clamp(14px, 1.3333333333vw, 16px);
  line-height: 133%;
}

.contact-section .container .contacts-list-item .contacts-text, .footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item a, .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-text {
  font-size: clamp(12px, 1.1666666667vw, 14px);
  line-height: 120%;
}

.btn-dark, .btn-light {
  font-family: "Krub", sans-serif;
  padding: clamp(10px, 1.3333333333vw, 16px) clamp(16px, 3vw, 36px);
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in;
}

.contact-section .container .contacts-list-item .contacts-icon, .footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item img, .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-icon {
  transition: 0.3s ease-in;
}
.contact-section .container .contacts-list-item .contacts-icon:hover, .footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item img:hover, .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-icon:hover {
  transform: scale(1.1);
}

.contact-section .container .contacts-list-item .contacts-text, .footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item a, .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-text {
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.contact-section .container .contacts-list-item .contacts-text:hover, .footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item a:hover, .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-text:hover {
  color: #FFBE34;
}

.footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list-item, .hero-section .nav-and-socials .container .header-socials-list-item {
  height: 20px;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in;
}
.footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list-item:hover a svg path, .hero-section .nav-and-socials .container .header-socials-list-item:hover a svg path {
  fill: #FFBE34;
}
.footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list-item a, .hero-section .nav-and-socials .container .header-socials-list-item a, .footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list-item a svg, .hero-section .nav-and-socials .container .header-socials-list-item a svg {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list-item a svg path, .hero-section .nav-and-socials .container .header-socials-list-item a svg path {
  transition: 0.3s ease-in;
}

.contacts-form .contacts-name, .contacts-form .contacts-email, .contacts-form .contacts-tel, .contacts-form .contacts-city, .contacts-form .contacts-message {
  padding: 20px 30px;
  background-color: #091242;
  border: 1px solid #E0E0E0;
  color: #ffffff;
}
.contacts-form .contacts-name::-moz-placeholder, .contacts-form .contacts-email::-moz-placeholder, .contacts-form .contacts-tel::-moz-placeholder, .contacts-form .contacts-city::-moz-placeholder, .contacts-form .contacts-message::-moz-placeholder {
  color: #ffffff;
}
.contacts-form .contacts-name::placeholder, .contacts-form .contacts-email::placeholder, .contacts-form .contacts-tel::placeholder, .contacts-form .contacts-city::placeholder, .contacts-form .contacts-message::placeholder {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Krub", sans-serif;
  background-color: #ffffff;
  color: #666C89;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 clamp(16px, 3.3333333333vw, 40px);
}

section {
  margin-top: clamp(30px, 5.8333333333vw, 70px);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-light {
  color: #091242;
  background: linear-gradient(45deg, #FFB629, #FFDA56, #FFD7A6);
}
.btn-light:hover {
  background: linear-gradient(45deg, #FFD7A6, #FFDA56, #FFB629);
  transform: scale(1.02);
}

.btn-dark {
  background: linear-gradient(45deg, #091242, #1C1F35, #666C89);
  color: #ffffff;
}
.btn-dark:hover {
  background: linear-gradient(45deg, #666C89, #1C1F35, #091242);
  transform: scale(1.02);
}

.btn-light a,
.btn-dark a {
  transition: 0.3s ease-in;
}

.section-tittle {
  font-family: "Rubik", sans-serif;
  color: #1C1F35;
}

.subtittle {
  font-family: "Rubik", sans-serif;
  padding: 4px 10px;
  background-color: rgba(232, 232, 232, 0.5);
  border-left: 4px solid #FFB629;
  color: #1C1F35;
}

.card-tittle {
  font-family: "Rubik", sans-serif;
  color: #1C1F35;
}

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #091242;
  border: 4px solid #FFDA56;
  padding: 10px;
  z-index: 999;
  transition: 0.3s ease-in;
}
.scroll-btn:hover {
  transform: scale(1.05);
}

.contact-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: #FFDA56;
  padding: 3px;
  z-index: 999;
  color: #1C1F35;
  transition: 0.3s ease-in;
}
.contact-pop-up:hover {
  transform: scale(1.05);
}

.hero-section {
  height: clamp(500px, 58.3333333333vw, 700px);
  padding-top: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.hero-section .header .contacts-and-logo-section {
  background-color: #091242;
  padding: 16px 0;
}
.hero-section .header .contacts-and-logo-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.hero-section .header .contacts-and-logo-section .container .header-logo {
  width: 210px;
  height: 100%;
}
.hero-section .header .contacts-and-logo-section .container .header-contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.hero-section .header .contacts-and-logo-section .container .header-contacts-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-icon {
  width: 63px;
  height: 63px;
}
.hero-section .nav-and-socials {
  background-color: rgba(9, 18, 66, 0.75);
  padding: 24px 0;
}
.hero-section .nav-and-socials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section .nav-and-socials .container .header-nav {
  background-color: transparent !important;
}
.hero-section .nav-and-socials .container .header-nav .burger-menu-icon {
  background-image: url("../assets/bars.svg") !important;
}
.hero-section .nav-and-socials .container .header-nav .burger-menu:focus {
  box-shadow: none;
}
.hero-section .nav-and-socials .container .header-nav-list-item {
  padding: 0 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.hero-section .nav-and-socials .container .header-nav-list-item .header-nav-list-link.active {
  color: #FFBE34;
}
.hero-section .nav-and-socials .container .header-nav-list-item .header-nav-list-link {
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.hero-section .nav-and-socials .container .header-nav-list-item .header-nav-list-link:hover {
  color: #FFBE34;
}
.hero-section .nav-and-socials .container .header-nav-list-item:first-child {
  padding-left: 0;
}
.hero-section .nav-and-socials .container .header-nav-list-item:last-child {
  border-right: none;
}
.hero-section .nav-and-socials .container .header-socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-top: 20px;
  align-self: flex-start;
}
.hero-section .hero-description .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
}
.hero-section .hero-description .container h1 {
  font-family: "Rubik", sans-serif;
  max-width: 40%;
}
.hero-section .hero-description .container p {
  max-width: 40%;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    padding-top: 190px;
  }
  .hero-section .header .contacts-and-logo-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .hero-section .header .contacts-and-logo-section .container .header-contacts-list-item .header-contacts-icon {
    width: 40px;
    height: 40px;
  }
  .hero-section .hero-description .container h1,
  .hero-section .hero-description .container p {
    max-width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .hero-section .nav-and-socials .container .header-nav-list-item:first-child {
    padding-left: 24px;
  }
  .hero-section .nav-and-socials .container .header-nav-list-item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media screen and (max-width: 769px) {
  .hero-section {
    padding-top: 154px;
  }
  .hero-section .header .contacts-and-logo-section .container .header-contacts-list {
    display: none;
  }
  .hero-section .hero-description .container h1,
  .hero-section .hero-description .container p {
    max-width: 100%;
  }
}
.services-section {
  margin-top: clamp(30px, 8.3333333333vw, 100px);
}
.services-section .container {
  display: flex;
  gap: 33px;
}
.services-section .container .services-heading {
  flex-basis: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services-section .container .services-heading .services-subtittle {
  align-self: flex-start;
}
.services-section .container .services-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(10px, 6.6666666667vw, 80px);
  flex-wrap: wrap;
}
.services-section .container .services-list-item {
  flex-basis: calc(50% - clamp(10px, 6.6666666667vw, 80px));
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.services-section .container .services-list-item img {
  width: 76px;
  flex-shrink: 0;
}
.services-section .container .services-list-item .services-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 13px;
  padding-left: 25px;
  border-left: 1px solid #D8D8D8;
}

.work-section {
  background: linear-gradient(#ffffff 0%, #ffffff 50%, #FFD7A6 50%, #FFDA56 75%, #FFB629 100%);
  padding-bottom: clamp(25px, 2.9069767442vw, 50px);
}
.work-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  padding: 0 clamp(16px, 2.8571428571vw, 40px);
}
.work-section .container .work-section-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18px;
  margin-top: 35px;
  flex-wrap: wrap;
}
.work-section .container .work-section-list-item {
  display: none;
  flex-basis: calc(25% - 18px);
  max-width: 280px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.work-section .container .work-section-list-item:hover .work-section-card-img-wrapper img {
  transform: scale(1.1);
}
.work-section .container .work-section-list-item.show {
  display: block;
}
.work-section .container .work-section-list-item .work-section-card {
  position: relative;
  width: 100%;
}
.work-section .container .work-section-list-item .work-section-card:hover figcaption {
  transform: translateY(0);
  opacity: 1;
}
.work-section .container .work-section-list-item .work-section-card .work-section-card-img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.work-section .container .work-section-list-item .work-section-card .work-section-card-img-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
  z-index: 30;
}
.work-section .container .work-section-list-item .work-section-card .work-section-card-img-wrapper img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transition: 0.8s ease-in;
}
.work-section .container .work-section-list-item .work-section-card figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  background-color: rgba(102, 108, 137, 0.1);
  padding: 20px 25px;
  z-index: 50;
  transition: 0.5s ease-in;
}
.work-section .container .work-section-list-item .work-section-card figcaption .work-section-card-tittle {
  font-weight: 500;
  color: #ffffff;
}
.work-section .container .work-section-list-item .work-section-card figcaption .work-section-card-text {
  color: #FFBE34;
  font-weight: 500;
}
.work-section .container .btn-dark {
  margin-top: clamp(25px, 2.9069767442vw, 50px);
}

.pricing-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.pricing-section .container .pricing-tittle {
  margin-top: 15px;
}
.pricing-section .container .pricing-list {
  margin-top: clamp(24px, 3.8333333333vw, 46px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
  flex-wrap: wrap;
}
.pricing-section .container .pricing-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  padding: clamp(24px, 4.3333333333vw, 52px);
  flex-grow: 1;
  transition: 0.3s ease-in;
}
.pricing-section .container .pricing-list-item:hover {
  transform: scale(1.1);
}
.pricing-section .container .pricing-list-item:nth-child(odd) {
  background-color: #F4F4F4;
  color: #091242;
}
.pricing-section .container .pricing-list-item:nth-child(odd) .pricing-features-list-item {
  border-top: 1px solid #D6D6D6;
}
.pricing-section .container .pricing-list-item:nth-child(odd) .pricing-features-list-item:last-child {
  border-bottom: 1px solid #D6D6D6;
}
.pricing-section .container .pricing-list-item:nth-child(even) {
  background-color: #091242;
  color: #ffffff;
}
.pricing-section .container .pricing-list-item:nth-child(even) .pricing-features-list-item {
  border-top: 1px solid #1F2A69;
}
.pricing-section .container .pricing-list-item:nth-child(even) .pricing-features-list-item:last-child {
  border-bottom: 1px solid #1F2A69;
}
.pricing-section .container .pricing-list-item-tittle {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.pricing-section .container .pricing-list-item-price .price-value {
  font-family: "Rubik", sans-serif;
}
.pricing-section .container .pricing-list-item .pricing-features-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}
.pricing-section .container .pricing-list-item .pricing-features-list-item {
  padding: 8px;
  text-align: center;
}

.testimonial-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial-section .container .testimolial-subtittle {
  align-self: flex-start;
}
.testimonial-section .container .testimonial-tittle {
  margin-top: 15px;
}
.testimonial-section .container .testimonials-slider {
  margin-top: 40px;
}
.testimonial-section .container .testimonials-slider .slider-container li:nth-child(even) .testimonial-card {
  background-color: #F4F4F4;
}
.testimonial-section .container .testimonials-slider .slider-container li:nth-child(even) .testimonial-card .testimonial-card-tittle .testimonial-card-name {
  color: #091242;
}
.testimonial-section .container .testimonials-slider .slider-container li:nth-child(even) .testimonial-card .testimonial-card-tittle .testimonial-card-company {
  color: #091242;
}
.testimonial-section .container .testimonials-slider .slider-container li:nth-child(odd) .testimonial-card {
  background-color: #091242;
  color: #ffffff;
}
.testimonial-section .container .testimonials-slider .testimonial-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 60px;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-tittle .testimonial-card-name {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-tittle .testimonial-card-company {
  font-weight: 500;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-img-wrapper {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header-info .testimonial-card-img-wrapper img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header .testimonial-card-quote-icon {
  display: block;
  width: 72px;
  height: auto;
}
.testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-text {
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .services-section .container {
    flex-direction: column;
  }
  .services-section .container .services-heading {
    flex-basis: auto;
  }
}
@media screen and (max-width: 768px) {
  .services-section .container .services-list-item {
    flex-basis: 100%;
  }
  .work-section .container .work-section-list {
    justify-content: center;
  }
  .work-section .container .work-section-list-item {
    flex-basis: calc(50% - 18px);
  }
}
@media screen and (max-width: 425px) {
  .testimonial-section .container .testimonials-slider .testimonial-card .testimonial-card-header .testimonial-card-quote-icon {
    display: none;
  }
  .work-section .container .work-section-list-item {
    flex-basis: 100%;
  }
}
.footer {
  margin-top: clamp(30px, 8.3333333333vw, 100px);
}
.footer .footer-bg-img {
  height: 30vh;
}
.footer .footer-bg-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer-main-info {
  background-color: #091242;
  padding: 30px 0 clamp(60px, 5vw, 60px);
}
.footer .footer-main-info .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-main-info .container .footer-logo {
  width: 150px;
}
.footer .footer-main-info .container .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.footer .footer-main-info .container .footer-info .footer-contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer .footer-main-info .container .footer-info .footer-contacts-list .footer-contacts-list-item img {
  width: 40px;
  height: 40px;
}
.footer .footer-main-info .container .footer-info .footer-nav .footer-nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-gap: 14px clamp(40px, 5vw, 60px);
}
.footer .footer-main-info .container .footer-info .footer-nav .footer-nav-list-item a {
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease-in;
}
.footer .footer-main-info .container .footer-info .footer-nav .footer-nav-list-item a:hover {
  color: #FFBE34;
}
.footer .footer-main-info .container .footer-info .footer-subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  grid-template-areas: "tittle tittle" "input input" "btn socials";
  grid-gap: 10px;
}
.footer .footer-main-info .container .footer-info .footer-subscribe-tittle {
  grid-area: tittle;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}
.footer .footer-main-info .container .footer-info .footer-subscribe-email-input {
  grid-area: input;
  width: 100%;
  align-self: center;
}
.footer .footer-main-info .container .footer-info .footer-subscribe .footer-subscribe-button {
  grid-area: btn;
  align-self: center;
  justify-self: start;
}
.footer .footer-main-info .container .footer-info .footer-subscribe .footer-socials-list {
  grid-area: socials;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
@media screen and (max-width: 1024px) {
  .footer .footer-bg-img {
    height: 20vh;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-main-info .container .footer-info {
    flex-wrap: wrap;
  }
  .footer .footer-main-info .container .footer-info .footer-contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .footer .footer-main-info .container .footer-info .footer-nav {
    flex-basis: 45%;
  }
  .footer .footer-main-info .container .footer-info .footer-subscribe {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 425px) {
  .footer .footer-main-info .container .footer-info {
    flex-wrap: wrap;
  }
  .footer .footer-main-info .container .footer-info .footer-contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .footer .footer-main-info .container .footer-info .footer-nav {
    flex-basis: 100%;
  }
  .footer .footer-main-info .container .footer-info .footer-subscribe {
    flex-basis: 250px;
  }
}
.contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  padding: clamp(30px, 6.6666666667vw, 80px);
  background-color: #091242;
}
.contact-section .container .section-tittle {
  margin-top: 12px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}
.contact-section .container .contact-text {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.contact-section .container .contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 40px;
  align-self: stretch;
  padding: 0 44px;
}
.contact-section .container .contacts-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.contact-section .container .contacts-list-item .contacts-icon {
  width: 62px;
}
.contacts-form {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px 30px;
  flex-wrap: wrap;
}
.contacts-form .submit-btn {
  align-self: center;
}
.contacts-form .contacts-name, .contacts-form .contacts-email, .contacts-form .contacts-tel, .contacts-form .contacts-city {
  flex-basis: calc(50% - 28px);
  flex-grow: 1;
}
.contacts-form .contacts-message {
  height: 160px;
  flex-basis: 100%;
}

.contact-modal-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 60, 60, 0.44);
  z-index: 1001;
}
.contact-modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-modal-overlay .contacts-form {
  max-width: 700px;
  padding: clamp(20px, 3.3333333333vw, 40px);
  background-color: #091242;
}

@media screen and (max-width: 425px) {
  .contact-section .container .contacts-list-item .contacts-icon {
    width: 30px;
  }
}/*# sourceMappingURL=main.css.map */