* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background-color: $secondary-color;
  color: $paragraph-color;
  @extend %paragraph-1;
  padding-bottom: 100px;
}


.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 clamp(16px, calc(40 / 1200 * 100vw), 40px);
}

section {
  margin-top: clamp(30px, calc(70 / 1200 * 100vw), 70px);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  font-family: "Krub", sans-serif;
  padding: clamp(10px, calc(20 / 1200 * 100vw), 20px) clamp(26px, calc(46 / 1200 * 100vw), 46px);
  @extend %paragraph-1;
  font-weight: 600;
  color: $secondary-color;
  background: linear-gradient(45deg, $gradient-color-1, $gradient-color-2, $gradient-color-3);
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in;

  .btn a {
    transition: 0.3s ease-in;
  }

  &:hover {
    background: linear-gradient(45deg, $gradient-color-3, $gradient-color-2, $gradient-color-1);
    transform: scale(1.02);
  }

}

.section-tittle {
  font-family: 'Rubik', sans-serif;
  @extend %heading-3;
  color: $heading-color;
}

.subtittle {
  font-family: 'Rubik', sans-serif;
  padding: 4px 10px;
  background-color: rgba(232, 232, 232, 0.5);
  border-left: 4px solid $gradient-color-1;
  @extend %paragraph-1;
  color: $heading-color;
}

.card-tittle {
  font-family: 'Rubik', sans-serif;
  @extend %heading-5;
  color: $heading-color;
}

.scroll-btn {
  @include flex(center, center);
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, $gradient-color-1, $gradient-color-2, $gradient-color-3);
  border: 1px solid transparentize( $primary-color-1, 0.8);
  padding: 10px;
  z-index: 999;
}