* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background-color: $secondary-color;
  color: $paragraph-color;
  @extend %paragraph-1;
  scroll-behavior: smooth;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 clamp(16px, calc(40 / 1200 * 100vw), 40px);
}

section {
  margin-top: clamp(30px, calc(70 / 1200 * 100vw), 70px);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-light {
  @extend %button;
  color: $primary-color-1;
  background: linear-gradient(45deg, $gradient-color-1, $gradient-color-2, $gradient-color-3);

  &:hover {
    background: linear-gradient(45deg, $gradient-color-3, $gradient-color-2, $gradient-color-1);
    transform: scale(1.02);
  }
}

.btn-dark {
  @extend %button;
  background: linear-gradient(45deg, $primary-color-1, $heading-color, $paragraph-color);
  color: $secondary-color;

  &:hover {
    background: linear-gradient(45deg, $paragraph-color, $heading-color, $primary-color-1);
    transform: scale(1.02);
  }
}

.btn-light a,
.btn-dark a {
  transition: 0.3s ease-in;
}


.section-tittle {
  font-family: 'Rubik', sans-serif;
  @extend %heading-3;
  color: $heading-color;
}

.subtittle {
  font-family: 'Rubik', sans-serif;
  padding: 4px 10px;
  background-color: rgba(232, 232, 232, 0.5);
  border-left: 4px solid $gradient-color-1;
  @extend %paragraph-1;
  color: $heading-color;
}

.card-tittle {
  font-family: 'Rubik', sans-serif;
  @extend %heading-5;
  color: $heading-color;
}

.scroll-btn {
  @include flex(center, center);
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $primary-color-1;
  border: 4px solid $gradient-color-2;;
  padding: 10px;
  z-index: 999;
  transition: 0.3s ease-in;

  &:hover {
    transform: scale(1.05);
  }
}

.contact-pop-up {
  @include flex(center, center);
  @extend %paragraph-1;
  position: fixed;
  left: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: $gradient-color-2;
  padding: 3px;
  z-index: 999;
  color: $heading-color;
  transition: 0.3s ease-in;

  &:hover {
    transform: scale(1.05);
  }


}

