// --------------- Headings ---------------
%display-text {
  font-size: $fz-xxxl;
  line-height: $lh-m;
  font-weight: 700;
}

%heading-1 {
  font-size: $fz-xxl;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-2 {
  font-size: $fz-xl;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-3 {
  font-size: $fz-l;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-4 {
  font-size: $fz-m;
  line-height: $lh-m;
  font-weight: 500;
}

%heading-5 {
  font-size: $fz-xm;
  line-height: $lh-m;
  font-weight: 400;
}

%heading-6 {
  font-size: $fz-s;
  line-height: $lh-s;
  font-weight: 400;
}

//----------- Paragraphs ----------------

%paragraph-1 {
  font-size: $fz-xs;
  line-height: $lh-m;
}

%paragraph-2 {
  font-size: $fz-xxs;
  line-height: $lh-s;
}


// ---------------- Buttons ---------------

%button {
  font-family: "Krub", sans-serif;
  padding: clamp(10px, calc(20 / 1200 * 100vw), 20px) clamp(26px, calc(46 / 1200 * 100vw), 46px);
  @extend %paragraph-1;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in;
}
