// --------------- Headings ---------------
%display-text {
  font-size: $fz-xxxl;
  line-height: $lh-m;
  font-weight: 700;
}

%heading-1 {
  font-size: $fz-xxl;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-2 {
  font-size: $fz-xl;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-3 {
  font-size: $fz-l;
  line-height: $lh-m;
  font-weight: 600;
}

%heading-4 {
  font-size: $fz-m;
  line-height: $lh-m;
  font-weight: 500;
}

%heading-5 {
  font-size: $fz-xm;
  line-height: $lh-m;
  font-weight: 400;
}

%heading-6 {
  font-size: $fz-s;
  line-height: $lh-s;
  font-weight: 400;
}

//----------- Paragraphs ----------------

%paragraph-1 {
  font-size: $fz-xs;
  line-height: $lh-m;
}

%paragraph-2 {
  font-size: $fz-xxs;
  line-height: $lh-s;
}


// ---------------- Buttons ---------------

%button {
  font-family: "Krub", sans-serif;
  padding: clamp(10px, calc(16 / 1200 * 100vw), 16px) clamp(16px, calc(36 / 1200 * 100vw), 36px);
  @extend %paragraph-1;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in;
}

// --------------- Contacts --------------------
%contacts-icon {
  transition: 0.3s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

%contacts-text {
  color: $secondary-color;
  font-weight: 500;
  @extend %paragraph-2;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    color: $primary-color-2;
  }
}

//  ------------- Socials --------------------
%socials-item {
  height: 20px;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-in;

  &:hover a svg path {
    fill: $primary-color-2;
  }

  a, a svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  a svg path {
    transition: 0.3s ease-in;
  }

}